# These variables are only available locally in MiniOxygen

SESSION_SECRET="local-dev-session-secret-32-characters"
PUBLIC_STORE_DOMAIN="hydrogen-preview.myshopify.com"
PUBLIC_CHECKOUT_DOMAIN="checkout.hydrogen.shop"
PRIVATE_STOREFRONT_API_TOKEN=""
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID="shp_e2b55f4e-9dd6-48aa-91f8-5fa419fda119"
SHOP_ID="55145660472"
