:root {
  --primary-color: #303030;
  --secondary-color: #e3e3e3;
  --shadow-color: #999;
  --dark-border-color: #666;
  --button-state-color: #fafafa;
}

body {
  color: var(--primary-color);
  background-color: #f1f1f1;
}

.flex-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: row;
}

.justify-content {
  display: flex;
  justify-content: space-between;
}

header {
  height: 3.5rem;
  box-shadow: 0px 2px 5px var(--shadow-color);
}

header .logo {
  width: 1.5rem;
}

header h1 {
  font-size: 1.1rem;
  font-weight: normal;
  padding-left: 1rem;
  color: #000;
}

.tab {
  background-color: #f4f4f4;
  border-radius: 4rem;
  padding: 0.2rem 0.8rem;
}

/* Button */
button {
  text-transform: none;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
}

button,
[role='button'] {
  cursor: pointer;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  box-shadow: 0px 1px 0px var(--shadow-color);
}

button:hover {
  background-color: var(--button-state-color);
}

button:focus {
  box-shadow: 0px 0px 0px 2px #005bd3;
  background-color: var(--button-state-color);
}

button:active {
  box-shadow: 0px -1px 0px var(--shadow-color);
  background-color: var(--button-state-color);
}

button.primary {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--dark-border-color);
  font-weight: 600;
}

button:hover.primary {
  background-color: #1a1a1a;
  color: var(--secondary-color);
}

button:focus.primary {
  box-shadow: 0px 0px 0px 2px #005bd3;
  background-color: #1a1a1a;
  color: var(--secondary-color);
}

button:active {
  box-shadow: 0px -1px 0px var(--shadow-color);
  background-color: #1a1a1a;
  color: #cccccc;
}
