@shopify:registry=https://registry.npmjs.com
progress=false

# Ensure Vite can optimize these deps in PNPM
public-hoist-pattern[]=cookie
public-hoist-pattern[]=set-cookie-parser
public-hoist-pattern[]=content-security-policy-builder
