on:
  pull_request:

name: Changelog Linter
jobs:
  lint:
    name: Lint Changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Lint changesets
        run: node scripts/lint-changesets.mjs
