on:
  pull_request:

name: Changelog Linter
jobs:
  lint:
    name: Lint Changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Lint changesets
        run: node scripts/lint-changesets.mjs
